.container {
    display: inline-block;
    cursor: pointer;
    & > div {
        width: 2rem;
        height: 0.32rem;
        background-color: #000;
        margin: 0.32rem 0;
        transition: .4s;
    }
}
.change {
    .bar1 {
        transform: rotate(-45deg) translate(-9px, 6px);
    }
    .bar2 {
        opacity: 0;
    }
    .bar3 {
        transform: rotate(45deg) translate(-8px, -8px);
    }
}