@import url('https://fonts.googleapis.com/css?family=Pacifico');
html,
body {
    font-family: 'Pacifico', cursive;
    margin: 0;
}

* {
    box-sizing: border-box;
}
.sidenav {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    width: 0;
    height: 100%;
    transition: .5s;
    a {
        text-decoration: none;
        padding: 8px 8px 8px 32px;
        color: #818181;
        font-size: 25px;
        transition: .3s;
        &:hover {
            color: #f1f1f1;
        }
    }
    .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        // margin-left: 50px;
    }
}
#main {
    transition: margin-left .5s;
    padding: 20px;
    span {
        font-size: 2rem;
        padding: 12px 16px;
        cursor: pointer;
    }
}