@import url('https://fonts.googleapis.com/css?family=Pacifico');
html,
body {
    // margin: 0;
    padding: 0;
    outline: 0;
    line-height: 1.5;
    font-family: 'Pacifico', cursive;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
.row {
    display: flex;
    flex: auto;
    .column {
        margin-bottom: 1rem;
        padding: 0 8px;
        .card {
            box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .2);
            box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .19);
            img {
                max-width: 100%;
                height: auto;
                vertical-align: middle;
            }
            .container {
                padding: 0.01rem 1rem;
                h2 {
                    font-weight: 400;
                    margin: 10px 0;
                }
                &:nth-child(4) {
                    font-style: italic;
                }
                .title {
                    color: grey;
                    opacity: .6;
                }
                .button {
                    border: none;
                    outline: none;
                    display: inline-block;
                    padding: 8px;
                    color: white;
                    background-color: #616161;
                    text-align: center;
                    cursor: pointer;
                    width: 100%;
                    vertical-align: middle;
                    overflow: hidden;
                    border-radius: 2px;
                    font-size: 1rem;
                    &:hover {
                        background-color: #555;
                    }
                }
            }
        }
    }
}