@import url('https://fonts.googleapis.com/css?family=Pacifico');
* {
  box-sizing: border-box;
}
body {
  background-color: #474e5d;
  font-family: 'Pacifico', cursive;
}
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}
.timeline::after {
  content: '';
  width: 6px;
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: calc(50% - 3px);
  background-color: #fff;
}
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}
.container::after {
  content: '';
  width: 25px;
  height: 25px;
  position: absolute;
  top: 15px;
  right: -16.5px;
  z-index: 1;
  background-color: #fff;
  border: 4px solid #FF9F55;
  border-radius: 50%;
}
.left {
  left: 0;
}
.right {
  left: 50%;
}
.left::before {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  top: 22px;
  right: 30px;
  z-index: 1;
  border-width: 10px 0 10px 10px;
  border-style: solid;
  border-color: transparent transparent transparent #fff;
}
.right::before {
  content: '';
  position: absolute;
  top: 22px;
  left: 30px;
  width: 0;
  height: 0;
  z-index: 1;
  border-width: 10px 10px 10px 0;
  border-style: solid;
  border-color: transparent #fff transparent transparent;
}
.right::after {
  left: -16.5px;
}
.content {
  padding: 20px 30px;
  background-color: #fff;
  position: relative;
  border-radius: 6px;
}